table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

<<<<<<< HEAD
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(197, 190, 190);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover{
    background-color: rgb(160, 247, 175);
}

.logs{
    display: none;  
    width: auto;
    /* justify-content: center; */
}

.nav{
    width: 936px;
    margin-left: auto;
    margin-right: auto;
}

.main{
=======
.logs {
    display: none;
    /* justify-content: center; */
}

.main {
>>>>>>> f3f530f23645f39383238e7711e905478582a8f2
    text-align: center;
}

.filters {
    margin: 10px;
    display: none;
}